.active {
    background-color: red;
}

.button {
    height: 56px; 
    margin-right: 2rem;
    width: 200px;
}

.logo {
    height: 2rem;
    width: 2rem;
}

.logoContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.optionsTextField {
    display: flex; 
    justify-content: space-around;
    width: 80%; 
}

.questionTextfield {
    align-items: center;
    height: 100px; 
    justify-content: space-between;
    padding: 1rem 10% 0 10%;
    width: 80%; 
}
